body {
    background-repeat: no-repeat;
    background-size: 133em 68em;
  }



.middleDiv{
    width: 11%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.middleButtons{
    padding: 3% 3% ;
    color: black;
    background-color: yellow;
    font-weight: bold;
    font-size: 15px;
}